.header {
    position: relative;
    color: #666;
    width: 100%;
    height: 50%;
    background: white;
    background: linear-gradient(to bottom, #d4302d 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-font-smoothing: antialiased;
}

.header__github-link {
    position: fixed;
    top: 0;
    right: 10%;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    background-color: #2492A8;
    text-decoration: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1;
}

.header__github-link .icon {
    margin-right: 5px;
}
